<div class="text-center">
  <h1 class="font-weight-bold">本サイトについて</h1>
</div>
<div class="row">
  <div class="mx-auto align-items-center">
    <h3><u class="font-weight-bold">読書再開の一助</u></h3>
      途中だった読書を再開しようとしたとき、<br>
      最後に読んでいた内容を忘れて、立ち戻ることはありませんか？<br>
      このサイトは、そんなときのために、<br>
      本の内容をメモしておけます。<br>
      ぜひご活用ください！<br>
  </div>
</div>