<div class="container">
  <div class="row">
    <div class="mx-auto col-md-6 col-md-offset-3">
      <h1>welcome to <span class="fas fa-book"></span>B(ook)rain</h1>
      <p class="top-text">
        In <span class="fas fa-book"></span>Bookers,<br>
        you can share and exchange your opinions , inpressions , and emotions<br>
        about various books!
      </p>
      <div class="row">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div class="row">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
      </div>
    </div>
  </div>
</div>